<div class="image">
    <i class="lavo-icon-cart icon"></i>
</div>
<div class="content">
    <div class="sub header">Previous order</div>
    <div class="header">{{lastOrder.vendor.name}}</div>
</div>
<div class="action button-close" {{action "close"}}>
    <i class="lavo-icon-cross-01 icon"></i>
</div>