<div class="content scrollable">
  {{#each model.orders as |order|}}
  	{{#link-to (constant "ROUTE_ORDER_SINGLE_VIEW") order.id (query-params modalOrderCancel="undefined") tagName="div"}}
    	{{order-item order=order classNames="ui smallest card"}}
    {{/link-to}}
  {{/each}}
  {{#infinity-loader infinityModel=orders triggerOffset=200 scrollable=".scrollable"}}{{/infinity-loader}}

</div>