.ui.modal {
    &.location {
        width: 100%;
        height: 100vh;
        background: #05a4ff;
        position: relative;
        padding: 0;
        border: none;
        margin: 0;
        max-width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

        .outer-circle {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            border: 1px dotted #81d1ff;
            background: #05a4ff;
            height: 180px;
            width: 180px;
        }

        .animated-circle {
            width: 130px;
            height: 130px;
            background: #1eadff;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            animation: bounceInOwn 2s;
            animation-iteration-count: infinite;


        }
        .white-dot {
            width: 30px;
            height: 30px;
            background: #ffffff;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .animated-circle-new {
            width: 130px;
            height: 130px;
            background: #1eadff;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            animation: bounceInOwn 2s;
            animation-iteration-count: infinite;

            .white-dot {
                width: 30px;
                height: 30px;
                background: #ffffff;
                border-radius: 50%;
            }
        }

        .wait-title {
            font-size: 18px;
            color: #ffffff;
            text-align: center;
            font-weight: 100;
            line-height: 23px;
            position: absolute;
            bottom: 20%;
            width: 100%;
            left: 0;
        }
    }
}

@keyframes bounceInOwn {
    0% {
        width: 130px;
        height: 130px;
    }

    60% {
        width: 80px;
        height: 80px;
    }

    100% {
        width: 130px;
        height: 130px;
    }
}
