<div class="image"><img src="{{comment.reviewerAvatarUrl}}" alt=""></div>
<div class="content">
  <div class="header">{{comment.reviewerName}}</div>
  <div class="sub header">{{comment.body}}</div>
  <div class="comment-date">{{moment-format comment.createdAt 'D MMMM YYYY'}}</div>
</div>
