<label>
  {{input
    type=type
    value=value
    name=valuePath
    classNames="form-control"
    maxlength=maxlength
  }}
  <div class="input-value">
    {{displayedValue}}
  </div>

  <div class="input-label">
    {{placeholder}}
  </div>
</label>
