<div class="content">
  <div class="sub-header">
    Please, fill your phone number and address.
  </div>
</div>
<div class="action button-close" {{action "close"}}>
    <i class="lavo-icon-cross-01 icon"></i>
</div>