<div class="ui padded layout make-order basket">
  <div class="header content ">

    <div class="ui header header-default-height margined">
      <div class="item">
        {{#link-to (constant "ROUTE_VENDOR") model.order.vendor.id classNames="back" tagName="div"}}
          <i class="lavo-icon-arrow icon"></i>
        {{/link-to}}
      </div>
      <div class="content">Make order</div>
      <div class="item"></div>
    </div>

  </div>
  <div class="content tabs">
    <div class="ui tabs">
      {{#link-to "main.make-order.select-service" tagName="div" classNames="item"}}
        <span>{{if model.service model.service.name "Choose service"}}</span>
        <i class="lavo-icon-more icon"></i>
      {{/link-to}}
      {{#link-to "main.make-order.select-type" tagName="div" classNames="item"}}
        <span>{{if model.type model.type.name "Choose type"}}</span>
        <i class="lavo-icon-more icon"></i>
      {{/link-to}}
    </div>
  </div>

  <div class="content">
    <div class="ui large gridded list basket">
      {{#each model.orderItems as |orderItem|}}
        {{slidable-order-item
        slideLeftAction=(route-action "decrease" orderItem)
        slideRightAction=(route-action "increase" orderItem)
        orderItem=orderItem
        }}
      {{/each}}
    </div>
  </div>

  <div class="footer content">
    {{#link-to (constant "ROUTE_MAKE_ORDER_DELIVERY")
    tagName="div" classNames="mini-card"}}
      {{mini-cart
      quantity=model.order.cpQuantity
      total=(price model.order.cpTotalWithShipping)
      }}
    {{/link-to}}

  </div>
</div>
