<div class="content">
  <div class="sub header">To use all app features</div>
  <div class="header">Please log in</div>
</div>
{{#link-to (constant "ROUTE_AUTH_SIGNIN") classNames="ui button" tagName="div"}}
  LOG IN
{{/link-to}}
<div class="action button-close" {{action "close"}}>
  <i class="lavo-icon-cross-01 icon"></i>
</div>