<div style="background-image:url({{{promotion.icon.url}}})" class="image"></div>
<div class="content">
  <div class="sub header">{{promotion.name}}</div>
  <div class="header">{{promotion.description}}</div>
</div>
