<div class="ui padded layout orders">
    <div class="header content">
        <div class="ui header header-default-height promotion-page">
            <div class="item">
              {{#link-to (constant "ROUTE_ADMIN_SETTINGS") }}
                  <i class="lavo-icon-arrow icon"></i>
              {{/link-to}}
            </div>
            <div class="content">Promotions</div>
            <div class="item"></div>
        </div>
    </div>
    <div class="content scrollable">
        {{#each model.promotions as |promotion|}}
            {{promotion-item promotion=promotion}}
        {{/each}}
        {{#infinity-loader infinityModel=orders triggerOffset=200 scrollable=".scrollable"}}{{/infinity-loader}}
    </div>
</div>