// Base Colors
$bodyBackground: #05a4ff;
$darkestBlue: #131f31;
$darkBlue: #283f60;
$paleDarkBlue: #476a94;
$blue: #0190ff;
$paleLightBlue: #7dbaeb;
$paleLilac: #d9e4f7;
$lightLilac: #e9effe;
$raspberry: #ff2d4b;
$white: #fff;
$blueGreyKrailo: #5d98d4;
$lightBlue: #1ea6fc;
$lightGray: #d0d0d0;
$violet: #7b8acd;
$darkGrey: #222;
$iconGrey: #a8a8a8;
