<div class="content">
  <div class="outer-circle">
    <div class="animated-circle">
      <i class="lavo-icon-tick icon"></i>
    </div>
  </div>

  <div class="caption">
    Password reset link successfully sended!
  </div>
</div>
<div class="footer">
  <button class="ui button full-width unbordered blue" {{action "close"}}>Close</button>
</div>
