<div class="content scrollable">
  {{#each model.orders as |order|}}
    {{#link-to (get linksList order.state) order.id (query-params vendorId=order.vendor.id) tagName="div" }}
      {{order-item order=order classNames="ui smallest card"}}
    {{/link-to}}
  {{/each}}
  {{#infinity-loader infinityModel=orders triggerOffset=200 scrollable=".scrollable"}}{{/infinity-loader}}

</div>