<div class="ui modal location fb-loading">
  
  <div class="outer-circle">
    <div class="animated-circle">
    </div>
    <div class="white-dot"></div>

  </div>

  <div class="wait-title">
    Loading
  </div>

</div>
