<div class="content">
  <div class="outer-circle">
    <div class="animated-circle">
      <i class="lavo-icon-lostconnection icon"></i>
    </div>
  </div>
  <div class="caption">
    Seems you are not connected <br> to the internet. Please try again.
  </div>
</div>
<button class="ui button reconnect" {{action "reconnect"}}>
  Reconnect
</button>
