<div class="ui padded layout info  orders">
  <div class="header content">
    <div class="ui header header-default-height margined">
      {{#link-to (constant "ROUTE_ADMIN_SETTINGS") class='item' tagName='div'}}
        <i class="lavo-icon-arrow icon"></i>
      {{/link-to}}
      <div class="content">{{model.title}}</div>
      <div class="item"></div>
    </div>
  </div>
  <div class="content">
    {{{model.body}}}
  </div>
</div>
