<div class="ui blue blue-circle modal-box">
  <div class="content">
    <div class="outer-circle">
      <div class="animated-circle">
        <i class="lavo-icon-tick icon"></i>
      </div>
    </div>

    <div class="caption">
      Congratulations! <br>Your request has been placed
    </div>
  </div>
  <div class="footer">
    {{#link-to (constant "ROUTE_ORDERS") class="ui full-width unbordered blue button"}}
      Go to orders
    {{/link-to}}
  </div>
</div>
