<div class="image">
  <i class="lavo-icon-ring icon"></i>
</div>
<div class="content">
  <div class="header"> {{notification.message}}</div>
  <div class="sub header"><i class="lavo-icon-clock icon"></i> {{date}}</div>
</div>
